@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
    background-image: url(../img/fundo.jpg);
    font-family: 'Source Sans Pro', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;

}

h1, h2, h3, h4, h5, p, a {
    font-weight: 300;
}

#header {
    text-align: center;
}

#header h1 {
    font-size: 52px;
    color: black;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.63);
}
    
#main input[type="submit"], #main input[type="reset"], #main input[type="button"], #main button, #main .button {
    background-color:transparent;
    box-shadow: inset 0 0 0 1px #dddddd;
    color: #636363 !important;
}


* {
    margin: 0;
}

nav {
    background-color:Gray;                                    
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;            
}

nav ul a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color:black;
}

#intro{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 90px 60px;
}

#wrapper{
    margin: auto;
    width: 90%;
}
.content p {
    font-size: 16px;
}

 h2{
    text-align: start;
    background-color: 636363;
}

#first{
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.025em;
}
 #main{
    padding: 5em 5em 3em 5em;
    border-top: solid 1px #dddddd;
 }
 
 p{
     background-color: #747474;
     text-align: start;
     
 }

 #first{
    padding: 10px;
}


#header.alt .logo img {
    display: center;
    max-width: 10%;
    border-radius: 40%;
    padding: 10px;
}
 
.container img {
 max-width: 300px; 
 display: center;
 border-radius: 20px;
 padding: 10px;
}

.home_images {
    width: 250px;
    height: 450px;
    padding: 10px;
    border-radius: 20px;
}

.home_images:hover {
    position: relative;
    
}

.image_container {
    position: relative;
    text-align: center;
    color: white;
  }


.image_link span {
    position: absolute;
    background-color: black;
    bottom: 25px;
    left: 20px;
    font-size: 30px;
    font-family: Arial;
    color: aliceblue;
    max-width: 0;
    -webkit-transition: max-width 1s;
    transition: max-width 0.5s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
  }

  .image_link:hover span {
    max-width: 15rem;
  }


  